@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header{
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    background-color: #0b6ce1;
    color:#F9FAF8;
    padding: 8px;
    font-size: 24px;
    /* our logo and nav list sit next to each other */
    display: flex;
    /* adds equal space on sides of elements */
    justify-content: space-evenly;
    /* alings our content in our header container to be in the center */
    align-items: center;
}

.header {
    font-weight: bold;
    position: fixed;
    width: 100%;
    list-style-type: none;
    z-index: 1;
}

.header li a {
    color:#e5e7eb;
    text-decoration: none;
}

ul {
    /* list items are aligned in a row */
    display: flex;
    list-style-type: none;
    
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color:#e5e7eb;
    font-size: 19px;
    font-weight: 400;
}

.icon {
  visibility: hidden;
  position: fixed;
  right: 20px;
}

main {
    padding-right: 14em;;
    /* main content is aligned in a row next to each other */
    display: flex;
    background-color: #ffffff;
    min-height: 80vh;
    align-items: center;
    /* evenly space out our main content */
    justify-content: space-around;
    background-image: url(/images/swirl.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: 74.2%;
    background-position-y: top; 
}

main h1 {
    font-size: 40px;
    color:#0b6ce1;
    margin-right: 2em;
}

main p {
    color:#000000;
    font-size: 34px;
    margin-bottom: .3em;
}

.cv-button {
    padding: 15px;
    background-color: #0b6ce1;
    color:#e5e7eb;
    outline:none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}

.cv-button:hover,
.cv-button:focus, .btn:hover,
.btn:focus {
  background-color: #020202;
}

.about-container img {
    height: auto;
    transform: scale(1.2, 1);
    width: 200px;
    border-radius: 50%;
}

.about-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 4em 12em;
    gap: 8rem;
}

.about-container {
  font-family: 'Montserrat', sans-serif;
  min-height: 75vh;
}

.about-container h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 4em;
    margin-bottom: 3em;
}

.about-text {
  display: flex;
  width: 550px;
  flex-direction: column;
}

.about-text h1 {
    color:#0b6ce1;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 20px;
}

.fa-github {
    color:#000000;
    margin-right: .5em;
}

.fa-linkedin-in {
    color: #030404;
}

.skills-container h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 6em;
  margin-bottom: .5em;
  font-family: 'Montserrat', sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 7em;
  padding: 2.4em;
}

.card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
}

.fa-html5 {
  color: orangered;
}

.fa-css3-alt {
  color: blue;
}

.fa-js-square {
  color: rgb(222, 222, 22);
}

.fa-git-square {
  color:#ef391a;
}

.project-container h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 6em;
  margin-bottom: 2em;
  font-family: 'Montserrat', sans-serif;
}

.project-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;  
}

.card-content{
  --padding: 1rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 100% / 0.2) 20%,
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  position: relative;
  width:max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  background: #0b6ce1;
  width: calc(100% + var(--padding));
  transform-origin: left;
  transition: transform 500ms ease;
}

.project-card-one:hover .card-title::after{
  transform: scaleX(1);
}

.project-card-two:hover .card-title::after{
  transform: scaleX(1);
}

.project-card-three:hover .card-title::after{
  transform: scaleX(1);
}

.card-body{
  padding: .5em;
}

.card-button, .more-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #020202;
  background-color: #0b6ce1;
  padding: 0.5em 1.25em;
  padding-top: .5em;
  border-radius: .5rem;
}

.card-button:hover,
.card-button:focus{
  background-color: #e5e7eb;
}

.more-button:hover,
.more-button:focus{
  background-color: #e5e7eb;
}

.project-card-one {
  background-color:#0b6ce1;
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  background-image: url(/images/media-player.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 28ch;
  border-radius: .5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.project-card-one:hover, .project-card-one:focus-within {
  transform: scale(1.05);
}

.project-card-two {
  background-color:#0b6ce1;
  color:#ffffff;;
  font-family: 'Montserrat', sans-serif;
  background-image: url(/images/weather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 28ch;
  border-radius: .5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.project-card-two:hover, .project-card-two:focus-within {
  transform: scale(1.05);
}

.project-card-three {
  background-color:#0b6ce1;
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  background-image: url(/images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 28ch;
  border-radius: .5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.project-card-three:hover, .project-card-three:focus-within {
  transform: scale(1.05);
}


.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 6em;
  margin-bottom: 5em;
  font-family: 'Montserrat', sans-serif;
}

.contact-box {
  background-color: #fff;
  /* box-shadow:  0 3px 0 #999; */
  margin: 10em;
}

/* inside form */
form {
  margin: 35px;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid #777;
  border-radius: 14px;
}

.btn{
  border-radius: 10px;
  color: #fff;
  margin-top: 18px;
  padding: 20px;
  background-color: #0b6ce1;
  font-size: 12px;
  width: 100px;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-bottom:1em;
}

.textarea-field {
  border-radius: 10px;
  height: 150px;
  width: 400px;
  margin-top: 10px;
}


.footer {
  display: flex;
  justify-content: space-around;
  background-color: #0b6ce1;
  text-decoration: none;
  color: #c0c0c0;
  font-family: 'Montserrat', sans-serif;
}

.explore-title, .resource-title {
  font-size: 20px;
  position: relative;
  bottom: 10px;
}

.footer-links, .resource-links{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;
  top: 10px;
}

.link, .resource-link {
  text-decoration: none;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #e5e7eb;
  transition: all .4s ease;
}

.link:hover, .link:focus-within,
.resource-link:hover, .resource-link:focus-within{
  color:#c0c0c0;
}


@media (hover) {
  .card-content{
    transform: translateY(70%);
    transition: transform 500ms ease;
  }
  
  .project-card-one:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .project-card-two:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .project-card-three:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
  }

  .project-card-one:hover .card-content > * {
    opacity: 1;
    transition: opacity 500ms linear;
    transition-delay: 1000ms;
  }

  .project-card-two:hover .card-content > * {
    opacity: 1;
    transition: opacity 500ms linear;
    transition-delay: 1000ms;
  }

  .project-card-three:hover .card-content > * {
    opacity: 1;
    transition: opacity 500ms linear;
    transition-delay: 1000ms;
  }

  .card-title::after {
    transform: scaleX(0);
  }
}

@media (min-width: 722px) {
  .card-container{
    flex-wrap: nowrap;
  }
}

@media (max-width: 1160px) {

    main {
      background-size: 50%;
    }
  }

@media  (max-width: 720px) {

    header li a{
      visibility: hidden;
    }

    main {
        background-size:55%;
        margin-bottom: -12em;
        margin-left: 1.5em;
        font-size:2px;
    }

    .about-main {
        display: flex;
        flex-direction: column;
        margin: 2em;
    }

    .about-container img {
      margin: 0;
      padding: 0%;
    }

    .about-text {
      width: 300px;
      
    }

    .hero-image {
        display: flex;
        margin-bottom: 30px;
    }

    .card-container {
      margin: 0;     
    }

    .card {
      border: none;
    }

     form, .input-field, .textarea-field{
      width: 100%;

    }

    /* .contact-box{
      width: 80%;
      position: relative;
      right: 27%;
    } */

}

@media (max-width: 428px) {
  .icon {
    visibility: visible;
  }
}
