@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header{
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    background-color: #0b6ce1;
    color:#F9FAF8;
    padding: 8px;
    font-size: 24px;
    /* our logo and nav list sit next to each other */
    display: flex;
    /* adds equal space on sides of elements */
    justify-content: space-evenly;
    /* alings our content in our header container to be in the center */
    align-items: center;
}

.header {
    font-weight: bold;
    position: fixed;
    width: 100%;
    list-style-type: none;
}

.header li a {
    color:#e5e7eb;
    text-decoration: none;
}

ul {
    /* list items are aligned in a row */
    display: flex;
    list-style-type: none;
    
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color:#e5e7eb;
    font-size: 24px;
    font-weight: 400;
}

.icon {
  visibility: hidden;
  position: fixed;
  right: 20px;
}

main {
    padding-right: 14em;;
    /* main content is aligned in a row next to each other */
    display: flex;
    background-color: #ffffff;
    min-height: 84vh;
    align-items: center;
    /* evenly space out our main content */
    justify-content: space-around;
    background-image: url("swirl.png");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: 74.2%;
    background-position-y: top; 
}

.fadeOut {
    transform: rotateY(0deg);
    margin-bottom: 5.5em;
}

main h1 {
    font-size: 40px;
    color:#0b6ce1;
}

main p {
    color:#000000;
    font-size: 34px;
    margin-bottom: .3em;
}

.cv-button {
    padding: 15px;
    background-color: #0b6ce1;
    color:#e5e7eb;
    outline:none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}

.about-container img {
    height: auto;
    transform: scale(1.2, 1);
    width: 200px;
    border-radius: 50%;
}

.about-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15em 12em;
    gap: 8rem;
}

.about-container {
  font-family: 'Montserrat', sans-serif;
  min-height: 75vh;
}

.about-container h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 4em;
    margin-bottom: 3em;
}

.about-text {
  display: flex;
  width: 550px;
  flex-direction: column;
}

.about-text h1 {

    color:#0b6ce1;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 20px;
}

.fa-github {
    color:#000000;
    margin-right: .5em;
}

.fa-linkedin-in {
    color: #030404;
}

.skills-container h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 6em;
  margin-bottom: 2em;
  font-family: 'Montserrat', sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 8em;
  padding: 2.4em;

}

.card {
  display: flex;
  flex-wrap: wrap;
  padding: 3em;
  border: 3px solid #0b6ce1;
  border-radius: 1rem;
}

.fa-html5 {
  color: orangered;
}

.fa-css3-alt {
  color: blue;
}

.fa-js-square {
  color: rgb(222, 222, 22);
}

.fa-git-square {
  color:#ef391a;
}

@media  (max-width: 600px) {

    header li a{
      visibility: hidden;
    }

    main {
        background-size:55%;
        margin-bottom: -12em;
    }

    .about-main {
        display: flex;
        flex-direction: column;
        margin: 2em;
    }

    .about-container img {
      margin: 0;
      padding: 0%;
    }

    .about-text {
      width: 300px;
      
    }

    .hero-image {
        display: flex;
        margin-bottom: 30px;
    }

}

@media (max-width: 428px) {
  .icon {
    visibility: visible;
  }
}
